/*** 

====================================================================
    CTA Section
====================================================================

***/

.cta-section {
    position: relative;
    padding: 320px 0px 60px;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    @include media-breakpoint-down(lg){
        padding-top: 150px;
    }
    &:before{
        @include overlay;
        content: "";
        z-index: 1;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--theme-color1));
    }
    .content{
        position:relative;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
        align-items: end;
        justify-content: space-between;
        .title{
            font-size: 75px;
            line-height: 75px;
            color: var(--theme-color-white);
            @include media-breakpoint-down(xl){
                font-size: 50px;
                line-height: 60px;
            }
            @include media-breakpoint-down(lg){
                font-size: 40px;
                line-height: 50px;
            }
            @include media-breakpoint-down(sm){
                font-size: 30px;
                line-height: 40px;
            }
        }

    }

    &.style-two{
        &:before{
            background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--theme-color2));
        }
    }

}